/* load the fonts */
@font-face {
	font-family: 'Roboto_mono_light';
	src: url('./fonts/RobotoMono-Light.ttf') format('TrueType');
}

@font-face {
	font-family: 'Roboto_mono_semi_bold';
	src: url('./fonts/RobotoMono-SemiBold.ttf') format('TrueType');
}

@font-face {
	font-family: 'Roboto_mono_bold';
	src: url('./fonts/RobotoMono-Bold.ttf') format('TrueType');
}

body {
	font-family: Roboto_mono_light, sans-serif;
	font-size: 2.5em;
	background-color: #222;
	color: #eee;
}

#container {
	width: 90%;
	margin: 10px auto;
	display: grid;
	grid-template-columns: 68% 28%;
	grid-gap: 1%;
	height: 98vh;
}

#output {
	grid-column-start: 1;
	height: 100%;
}

#input {
	grid-column-start: 2;
	height: 100%;
}

form {
	width: 100%;
	border-radius: 10px;
	padding: 2%;
	background: rgba(255, 255, 255, 0.2);
	font-size: 1em;
	text-align: center;
}

input,
select {
	font-size: 1em;
	border: none;
	border-radius: 5px;
	padding: 12px;
	background: orange;
	color: #222;
	font-family: Roboto_mono_bold, sans-serif;
	width: 90%;
	display: block;
	margin: 10px auto;
	text-align: center;
}

input.reset {
	background: #222;
	color: orange;
	font-family: Roboto_mono_light, sans-serif;
	font-size: 80%;
}

input[type='submit']:hover {
	cursor: pointer;
	color: orange;
	background: #eee;
}

input#user_submit {
	cursor: pointer;
	color: orange;
	background: #eee;
}

input#user_submit:hover {
	cursor: pointer;
	color: #eee;
	background: orange;
}

input[type='submit']:hover {
	cursor: pointer;
	color: orange;
	background: #eee;
}

input#interval_description {
	width: 86%;
	display: block;
	margin: 0 auto;
}

label {
	font-size: 1em;
}

button {
	font-size: 1.5em;
	border: none;
	background: orange;
	color: #fff;
	border-radius: 10px;
	padding: 0.2em 0;
	font-family: Roboto_mono_bold, sans-serif;
	width: 100%;
	display: block;
	margin: 20px auto 20px auto;
}

div {
	margin-bottom: 20px;
}

.hidden {
	display: none;
}

.show {
	display: block;
}

.row {
	width: 100%;
	padding: 5% 0 0 0;
	margin: 0;
}

#intervals_ui {
	width: 100%;
	display: block;
	border-radius: 10px;
	background: #fff;
	padding: 20px 3%;
	color: orange;
	margin-top: 20px;
	text-align: center;
	border-bottom: 2px dotted orange;
}

#intervals_ui div.min {
	display: inline-block;
	width: 12%;
	text-align: left;
}

#intervals_ui div.sec {
	display: inline-block;
	width: 20%;
	text-align: left;
}

#intervals_ui div.interval {
	display: inline-block;
	width: 55%;
	text-align: left;
}

#main_timer {
	width: 96%;
	border-radius: 10px;
	padding: 2%;
	background: orange;
	font-size: 1em;
	height: 50vh;
}
